$def with (key)
<html>
<head>
<link rel="stylesheet" href="static/style.css" type="text/css" media="screen">
<title>Ask an Idiot | Site Credits</title>
$if key:
	<script type="text/javascript">
	
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', '$key']);
	_gaq.push(['_trackPageview']);
	
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	
	</script>
</head>
<body>
<h3>Credits</h3>
<div id="content">
<p>This site runs on the fabulous <a href="http://webpy.org/">Web.py</a>.  If you want a simple web framework that just works, you have to check it out.</p>
<p>Thesaurus service provided by <a href="http://words.bighugelabs.com/">words.bighugelabs.com</a>.  Twitter API provided by <a href="http://code.google.com/p/python-twitter/">python-twitter</a></p>
<p>The code is all available on GitHub - feel free to <a href="https://github.com/jrenaut/askAnIdiot">reuse, or point and laugh</a>.</p>
<p>And, lastly, inspiration provided by Sarah Palin.  She has truly led the United States to new depths.</p>
</div>
</body>
</html>
