$def with (form, key)
<html>
<head>
<title>Ask an idiot</title>
<link rel="stylesheet" href="static/style.css" type="text/css" media="screen">
$if key:
	<script type="text/javascript">
	
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', '$key']);
	_gaq.push(['_trackPageview']);
	
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	
	</script>
</head>
<body>
<h3>Ask an idiot</h3>
<div id="content">
<p>Enter a word, one word, about which you're just dying to hear the ramblings of an idiot</p>
<form name="main" method="post"> 
$if not form.valid: <p class="error">Try again:</p>
$:form.render()
<input type="submit" />    </form>
</div>
<div class="spacer"></div>
<div class="footer"><a href="credits">Credits</a></div>
</body>
</html>
